#canvas{
    margin: auto;
    margin-top: 30px;
    display: block;
}

#buttons{
    text-align: center;
}

.buttons{
    font-size: 1.5em;
    padding: 10px 20px;
    color: white;
    background-color: #00a2df;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

#num{
    width: 3em;
}

label{
    outline: 2px solid black;
}

p{
    font-size: 1.5em;
    background-color: #00a2df;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    
    outline: 2px solid black;
}

p:empty{
    display: none;
}

.buttons:hover{
    background-color: #1186b1;
}